/*--------------------------------
----------- RESET CSS ------------
--------------------------------*/
* {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*--------------------------------
------------ GENERAL -------------
--------------------------------*/
@font-face {
    font-family: "Cabin";
    src: url("/font/Cabin-Regular.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("/font/Lora-VariableFont_wght.ttf");
}

body {
    font-family: Cabin, Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #ff914d;
}

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

/*--------------------------------
----------- NAVIGATION -----------
--------------------------------*/
.bandeau_logo {
    background-color: #000;
    font-weight: bold;
    padding-top: 15px;
}

nav {
    background-color: #000;
    font-weight: bold;
    padding:15px 0;
    position: sticky;
    top: 0;
}

.wrapper div  {
    padding:0 30px;
}

.logo {
    height:60px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.menu_lien li {
    margin-right: 30px;
}

.menu_lien li:last-child {
    margin-right: 0;
}

.menu_lien a:hover {
    color: #fff;
}

.menu img {
    height: 20px;
    margin-left: 10px;
}

.menu_reseaux li:hover a img:first-child, .menu_reseaux a img:nth-child(2) {
    display: none;
}

.menu_reseaux li:hover a img:nth-child(2) {
    display: inline;
}

/*--------------------------------
------------- HEADER -------------
--------------------------------*/

header {
    background: url(/img/Beach-Biking.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.bandeau {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    height: 700px;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.bandeau_titre {
    align-self: end;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 60px;
}

.bandeau_titre h1 {
    font-family: Lora, 'Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
}

.bandeau_titre h2 {
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;;
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    margin-top: 30px;
    padding: 20px;
}

.bandeau_keyNumber {
    align-self: end;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 60px;
    font-size: 1.75em;
    font-variant: small-caps;
    text-align: center;
}

.bandeau_keyNumber span {
    color: #ff914d;
    font-size: 5rem;
}

.bandeau_accroche {
    grid-column: 1 /span 2;
    grid-row: 2;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.6em;
}

.bandeau_accroche span {
    text-decoration: underline;
}

.bandeau_accroche h2 {
    font-size: 1.8em;
    margin: 10px 0;
}

.bandeau_accroche a:hover {
    color: #000;
}

.bandeau_accroche p:last-child {
    font-size: 0.7em;
    font-weight: normal;
}