@media (max-width:768px) {
    /*--------------------------------
    ----------- NAVIGATION -----------
    --------------------------------*/

    .menu {
        justify-content: center;
    }

    .menu .menu_reseaux {
        display: none;
    }
}

@media (max-width:680px) {
    /*--------------------------------
    ----------- NAVIGATION -----------
    --------------------------------*/

    .bandeau {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-bottom: 30px;
    }

    .bandeau_titre, .bandeau_keyNumber {
        align-self: auto;
        width: 100%;
    }

    .bandeau_titre h1 {
        margin: 60px 0;
    }
}